.black {
  background: black;
  border: none;
  color: white;
}

.white {
  background-color: transparent;
  border: 1px solid lightgray;
  color: #1f2937;
}

.neutral {
  background-color: #f5f5f5;
  border: none;
}

.width {
  width: 100%;
}
