.third-bg {
  background: url("../../public/images/bg3.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  .card {
    @apply w-full border border-solid border-[#ebe6e6] rounded-[2rem] mb-8;

    .small-card {
      @apply bg-[#e1d9d9] h-[18rem] w-full mt-12 border-solid border-[#ebe6e6] border rounded-[2rem];
    }

    .colour {
      color: rgba(0, 0, 0, 0.6);
    }

    span {
      @apply bg-[#f3eeee] h-7 w-20 rounded-lg;
    }

    @media (max-width: 640px) {
      max-width: 100%;
    }
  }

  .arrow {
    @apply flex items-center justify-center border border-[#c7c2c2] rounded w-10 h-10 bg-[#c3c3c3];
  }

  @media (max-width: 640px) {
  }
}
